.button {
  font-family: "Rubik500";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0b132a;
  border: none;
  background-color: white;
  transition: 0.3s;
  cursor: pointer;
  outline: none;
}
